# IntelliJ IDEA
.idea/
*.iml

# NetBeans
nbproject/
build/
dist/
manifest.mf
out/
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/project.properties
nbproject/project.xml

# Archivos de compilación
*.class
*.jar
*.war
*.ear

# Carpetas de salida
/out/
/target/
/bin/

# Logs y temporales
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
